@charset "EUC-KR";

.white {
	color:white;
}

.title {
	text-align: center;
	position: absolute;
	top: 8.88px;
	height: 10%;
	width: 98.88%;
	background-color: blue;
}

h1 {
	font-size: 75px;
	margin-top: -5px;
	margin-bottom: 5px;
}

.adress {
	position: absolute;
	top: 107px;
	height: 12%;
	width:98.88%;
	background-color: tomato;
}

.under {
	text-decoration: underline;
}

.top {
	margin-top: 24px;
	margin-left: 50px;
}

.middle {
	margin-top: -15px;
	margin-left: 50px;
}

.bottom {
	margin-top: -15px;
	margin-left: 50px;
}

.margin1 {
	margin-left: 10px;
}

#introduce {
	position: absolute;
	top: 224px;
	height: 10%;
	width: 98.88%;
	background-color: gray;
}

input {
	position: absolute;
	right: 20px;
	bottom: 10px;
	background-color: yellow;
}